<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :exif_createdate %><br />
    <%= f.text_field :exif_createdate %>
  </div>
  <div class="field">
    <%= f.label :exif_gpsaltitude %><br />
    <%= f.text_field :exif_gpsaltitude %>
  </div>
  <div class="field">
    <%= f.label :exif_gpslatitude %><br />
    <%= f.text_field :exif_gpslatitude %>
  </div>
  <div class="field">
    <%= f.label :exif_gpslongitude %><br />
    <%= f.text_field :exif_gpslongitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
