


<div class="gallery">

<h1>Photos</h1>
<br />


<% @photos.each do |photo| %>
  
  <div class="photo">
      <ul class="metadata">
         <li class="caption"><b><%= photo.upload.subject_p %></b></li>
         <li class="caption"><%= mail_to photo.upload.sender_email, photo.upload.sender_name, :subject => "re: #{photo.upload.subject}" %></li>
         <li class="caption"><%= photo.timestamp.in_time_zone("Brisbane").strftime("%l:%M %P (%m/%d/%Y)") %></li>
      </ul>

      <%= link_to image_tag("/uploads/thumb_#{photo.filename}", :title => photo.upload.subject_p, :class => "photolink"), 
      photo_path(photo.id)   %>



  </div>

<% end %>
</div>


