<p id="notice"><%= notice %></p>

[<%= link_to 'View Full Size', "/uploads/#{@photo.filename}"  %> ]
<br />
<%= image_tag "/uploads/medium_#{@photo.filename}" %>

<hr />

<p>
  <b>Filename:</b>
  <%= @photo.filename %>
</p>

<p>
  <b>Exif createdate:</b>
  <%= @photo.exif_createdate %>
</p>

<p>
  <b>Exif gpsaltitude:</b>
  <%= @photo.exif_gpsaltitude %>
</p>

<p>
  <b>Exif gpslatitude:</b>
  <%= @photo.exif_gpslatitude %>
</p>

<p>
  <b>Exif gpslongitude:</b>
  <%= @photo.exif_gpslongitude %>
</p>
