// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.gallery {

	border: 1px solid #dadada;
	border-radius:4px;
	padding: 15px;
	height: auto;
	overflow:hidden;
	
 }

div.photo {
 	float: left;
 	border: 1px solid #dedede;
 	background-color: #f1f1f1;
 	width: 350px;
	height: 110px;
	overflow:hidden;
 	padding: 5px;
 	margin: 5px;
 	box-shadow:1px 1px 5px 0.5px lightgrey;
 	border-radius:8px;
 }

div.photo img
{
   border-radius: 8px;
   border: 1px solid rgba(0,0,0,0.5);
   box-shadow:1px 1px 5px 0.5px grey;

}

div.photo img:hover
{
   border-radius: 0px;
   border:3px solid #2c8697;
   box-shadow:1px 1px 5px 0.5px #489eaf ;
   width: 96px;
   height: 96px;
}

div.photo a:hover
{
background-color: #f1f1f1;
}

ul.metadata{
      list-style: none;
      float: right;   
      width: 240px;
      
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0px;
      padding-left: 0px;
      padding-top: 0px;
      margin: 0px 0px;
}

.caption {
 //border: 1px solid lightgrey;

font-size: smaller;



 }


