<h1>Listing uploads</h1>

<hr />
<% @uploads.each do |upload| %>
  <h4>
    <%= upload.subject %> - <%= upload.sender %> - <%= upload.datesent %>
  </h3>
  <% upload.photos.each do | photo | %>
    <%= link_to image_tag("/uploads/thumb_#{photo.filename}"), 
      photo_path(photo.id)   %>
  <% end %>
  ( <%= upload.message_UID %> )
  <hr />
<% end %>

