<p id="notice"><%= notice %></p>

<p>
  <b>Message uid:</b>
  <%= @upload.message_UID %>
</p>

<p>
  <b>Subject:</b>
  <%= @upload.subject %>
</p>

<p>
  <b>Datesent:</b>
  <%= @upload.datesent %>
</p>

<p>
  <b>Sender:</b>
  <%= @upload.sender %>
</p>


