<!DOCTYPE html>
<html>
<head>
  <title>PhotoShare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= PhotoShareConfig.config["sitetitle"] %></h1>

<%= link_to "Uploads", uploads_path %> | 
<%= link_to "Photos", photos_path %> 

<hr />

<%= yield %>

</body>
</html>
